@page "{id}"
@using Detrav.Launcher.Server.Utils
@model Detrav.Launcher.Server.Areas.Admin.Pages.Products.AddTagModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Index">Admin area</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Products/List">Products</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Products/Edit" asp-route-id="@Model.Product?.Id">Edit - @Model.Product?.Name</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Products/AddTag" asp-route-id="@Model.Product?.Id">Add Tag</a></li>
    </ol>
</nav>


@if (@Model.Product != null)
{
    <h1 class="display-4">
        @Model.Product.Name
    </h1>


    @if (Model.Tags == null || Model.Tags.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
            The administrator did not add tags here, please check back later!
        </div>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model.Tags)
                {
                    <tr>
                        <th scope="row">@tag.Id</th>
                        <td>@tag.Name</td>
                        <td>@StringUtils.TrimOneLine(tag.Description)</td>
                        <td>
                            @{
                                var flagHasProd = Model.Product.Tags.Any(m => m.Id == tag.Id);
                                <div class="form-check form-switch">
                                    <input class="form-check-input cb-tag-into-product" type="checkbox" data-product="@Model.Product.Id" data-tag="@tag.Id" checked="@flagHasProd" />
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
