@page
@using Detrav.Launcher.Server.Utils
@model Detrav.Launcher.Server.Areas.Admin.Pages.Screenshots.ListModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Index">Admin area</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Screenshots/List">Screenshots</a></li>
    </ol>
</nav>

@if (Model.Screenshots == null || Model.Screenshots.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        The administrator did not add Screenshots here, please check back later!
    </div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Screenshot in Model.Screenshots)
            {
                <tr>
                    <th scope="row">@Screenshot.Id</th>
                    <td>@Screenshot.Name</td>
                    <td>@AppUtils.TrimOneLine(Screenshot.Description)</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-page="Edit" asp-route-id="@Screenshot.Id">Edit</a>
                        <a type="button" class="btn btn-danger" asp-page="Delete" asp-route-id="@Screenshot.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}