@page "{id}"
@using Detrav.Launcher.Server.Utils
@model Detrav.Launcher.Server.Areas.Admin.Pages.Tags.AddProductModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Index">Admin area</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Tags/List">Tags</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Tags/Edit" asp-route-id="@Model.Tag?.Id">Edit - @Model.Tag?.Name</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Tags/AddProduct" asp-route-id="@Model.Tag?.Id">Add product</a></li>
    </ol>
</nav>


@if (@Model.Tag != null)
{
    <h1 class="display-4">
        @Model.Tag.Name
    </h1>


    @if (Model.Products == null || Model.Products.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
            The administrator did not add products here, please check back later!
        </div>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@AppUtils.TrimOneLine(product.Description)</td>
                        <td>
                            @{
                                var flagHasProd = Model.Tag.Products.Any(m => m.Id == product.Id);
                                <div class="form-check form-switch">
                                    <input class="form-check-input cb-tag-into-product" type="checkbox" data-product="@product.Id" data-tag="@Model.Tag.Id" checked="@flagHasProd" />
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
