@page "{id}"
@using Microsoft.AspNetCore.Http.Extensions
@model Detrav.Launcher.Server.Areas.Admin.Pages.Achievements.EditModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Index">Admin area</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Achievements/List">Achievements</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Achievements/Edit" asp-route-id="@Model.Achievement?.Id">Edit - @Model.Achievement?.Name</a></li>
    </ol>
</nav>

@if (!Model.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert" asp-validation-summary="All">
    </div>
}

@if (Model.IsSaved)
{
    <div class="alert alert-success" role="alert">
        Saved!!!
    </div>
}


@if (@Model.Achievement != null)
{
    <h1 class="display-4">
        @Model.Achievement.Name
    </h1>

    <p>
        <a type="button" class="btn btn-danger" asp-page="Delete" asp-route-id="@Model.Achievement.Id">Delete</a>
    </p>

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12 my-3">
                <div class="mb-3">
                    <label asp-for="AchievementName" class="form-label">Name</label>
                    <input class="form-control" asp-for="AchievementName">
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" asp-for="IsHidden">
                    <label class="form-check-label" asp-for="IsHidden">Is the achievement hidden before taking?</label>
                </div>
                <div class="mb-3">
                    <label asp-for="Icon" class="form-label">
                        Icon<br />
                        <img src="~/api/Images/GetIconFromAchievement/@Model.Achievement.Id" class="img-fluid" alt="poster">
                    </label>
                    <input class="form-control" asp-for="Icon" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Product</label>
                    @{
                        <p>
                            <a asp-area="Admin" asp-page="/Products/Edit" asp-route-id="@Model.Achievement.Product?.Id">@Model.Achievement.Product?.Name</a>
                        </p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-success w-100" type="submit">Save</button>
        </div>
    </form>
}